<!DOCTYPE html>
<html>
<head>
<title>What Made You Sick?</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="icon" type="image/png" href="/favicon.png" />

<link rel="stylesheet" href="/res/bootstrap.min.css"></link>
<script src="/res/jquery-2.2.4.js"></script>
<script src="/res/bootstrap.min.js"></script>

<script src="/res/jquery-ui.js"></script>
<script src="/res/jquery.query-object.js"></script>
<link rel="stylesheet" href="/res/awesomplete.css"></link>

<script src="/res/lodash.min.js"></script>
<script src="/res/date.format.js"></script>
<script src="/res/awesomplete.js"></script>

<script src="/utilities.js"></script>
<script src="/data/causeList.js"></script>
<script src="/frontend/_Front.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq-0jYpWVSoSnDrnEFgtluJzp0mBcjnoo"></script>

<style>

  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    html { 
      zoom: 1.1; 
      -moz-transform: scale(1.1); 
      -moz-transform-origin: 0 0; 
    } 
  }

  .dropdown-menu {
    z-index: 25000 !important; 
  }

  .visually-hidden {
    display: none; 
  }

  .scroll {
    overflow-y: scroll; 
    height: 100%; 
  }

  hr {
    border-top: 1px solid black; 
  }

  #search:focus { outline:none; }
  .btn:focus { outline:none; }

  .ui-autocomplete { z-index:2147483647; }
  .form-control {
    display: inline; 
    padding: 5px; 
  }

  #myDiagramDiv:focus {
    outline: -webkit-focus-ring-color auto 0px; 
  }
  canvas:focus {
    outline: -webkit-focus-ring-color auto 0px; 
  }

  .textRow {
    margin-top: 10px; 
    margin-bottom: 10px; 
  }
</style>
<script>
  $(Front.ready);
</script>

</head>
<body style="margin: 0px;">
<div id="root" style="width:100%; margin: 0px; position: absolute; height: 100%; min-width: 280px;">
  <div id="topBar" style="width: 100%; display: inline-block; user-select: none;">
    <span id="titleAndButtons" style="display: inline-block; width: 100%; padding-top: 5px; vertical-align: top; background: #1e1fb3; color: white; padding-left: 10px; padding-right: 10px;">      
      <h3 style="text-align: left;margin-left: 0px;line-height: 35px;position: relative;top: -4px;margin-top: 0px;margin-bottom: 0px;" aria-haspopup="true" aria-expanded="true" class="loading-inline">
        <span id="mainTitle" style="vertical-align: text-top">
          Mapping Causes of ED Admissions
        </span>
      </h3>
    </span>
  </div>
  <div id="mainView" class="bg loading container" style="float: left;width: 100%;height: calc(100% - 43px);background-color: rgb(205, 205, 205);overflow-y: scroll;user-select: none;padding-top: 5px;padding-bottom: 10px;">
    <div class="col-xs-12" style="padding-left: 0px; padding-right: 0px;">
      <div>
        <h4>
          <span id="meetingName" style="margin-bottom: 10px; display: inline-block;">What Made You Sick?</span>
          <input class="form-control">
        </h4>
        <div style="display: inline-block;">
          <h4 style="display: inline-block; margin-right: 5px;">Common:</h4>
          <div class="btn btn-default" style="display: inline-block;">Hit by Car</div>
          <div class="btn btn-default" style="display: inline-block;">Asthma Attack</div>
          <div class="btn btn-default" style="display: inline-block;">I Don't Know</div>
        </div>
        <h4 style="display: inline-block; margin-top: 15px; width: 100%;">
          <span id="meetingName" style="margin-bottom: 10px; display: inline-block;">Where Did This Start?</span>
          <input class="form-control">
        </h4>
        <div id="map" style="background-color: grey; width: 100%; height: 300px;">
        </div>
        <h4>
          <span id="meetingName" style="margin-bottom: 10px; display: inline-block;">Relevant Details:</span>
          <textarea class="form-control"></textarea>
        </h4>
        <div id="save" class="btn btn-success">Save</div>
        <div id="addAnother" class="btn btn-primary">Did anything else make you sick?</div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
